* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    margin-top: 100px;
    text-align: center;
}
form > .main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
}

body{
    background-color: #fffbf7;
    font-family: sans-serif;
    /*margin: 0;
    padding: 0;
    box-sizing: border-box;*/
}
h1 {
    color: #46484c;
    text-align: center;

}
h2, p {
    color: #46484c;
}

strong {
    color: #8b8b8bcc;
}
input {
    background-color: white;
    border-radius: 8px;
    font-size: 14px;
    margin: 6px;
    border: 1px solid #dadada;
    padding: 10px 5px;
}
button {
    background-color: #025157;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
    margin: 5px;
    padding: 10px;    
}

.fixed-header {
    position: fixed;
    border-bottom: 1px solid #dadada;
    background-color: white;
    box-shadow: 1px 1px 10px darkgrey;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header {
    margin: 10px 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

li {
    display: inline-block;
    margin: 0 25px 0 25px;
}
.logo {
    width: 15%;
}
.navbar {
    width: 70%;
    /*text-align: center; */
    text-align: left;
    color: green;
} 
.actions {
    width: 15%;
    /*text-align: right;*/
    text-align: left;
    font-size: 14px;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    font-weight: 400;
    border-radius: 5px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.publish {
    margin: 20px;
}
.publish > form p {
    color:#025157;
    margin-right: 18px;
}
.promo-video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-stories {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.success-stories .content {
    flex: 2;
    padding-right: 100px;
}

.content{
    flex-direction: column;
    width: 60%;
}
.success-stories .content h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}

.content p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.content img {
    height: 100px;
}

.content button {
    width: fit-content;
    height: fit-content;
    margin-left: 0;
    margin-bottom: 0;
    padding: 12px 12px 6px 12px;
    border-radius: 5px;
    border: 0;
    font-size: 14px;
    height: 45px;
    font-weight: 600;
}

.cards {
    width: 270px;
    flex-direction: column;
    height: 645px;
    padding: 0;
    background-color: #fff;
    border-radius: 10px;
}
.card-media {
    position: relative;
    margin: 0;
}

.card-media figure {
    margin-top: 0;
    
}

.card-media > figure> img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.company { 
    position: absolute;
    bottom: -35px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company img {
    max-width: 75%;
}
.card-body {
    flex-direction: column;
    padding: 25px;
}

.card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}

.card-body h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
}

.results p {
    font-size: 16px;
    color: #8B8B8BCC;
    margin: 15px 0 1rem 0;
}

.results img {
    vertical-align: middle;
    border-style: none;
    width: 26px;
    margin-right: 20px;
}

.card-footer {
    background-color: unset;
    margin: 20px;
    padding: 1px 0;
    border-top: unset;
    height: inherit;
}

.card-footer > button {
    display: block;
    align-items: flex-end;
    background-color: #025157;
    margin-left: 0;
    border-radius: 5px;
    border: 0;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    width: 100%;
}

.features {
    background-color: #025157;
    padding: 10% 15%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    
    /*grid-template-columns: 100px 300px;*/
    /*grid-template-columns: 500px 1fr;*/
    /*grid-template-columns: 1fr 1fr;*/
    
    /*grid-template: repeat(2, 1fr)/repeat(2, 330px);*/
    
    /*grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 330px);*/

}
.features .feature-art {
    display: flex;
    background-color: lightcyan;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
    box-shadow: 4px 4px 2px #2e2e2e;
}

.features .feature-art .feature-art-content {
    flex: 2;
    padding: 30px 20px 40px 40px;
}

.features .feature-art .feature-art-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}
.features .feature-art .feature-art-content img {
    width: 50px;
}

.features .feature-art .feature-art-content p {
    font-size: 14px;
    color: darkgrey;
    font-weight: 400;
}
.features .feature-art .feature-art-content a {
    color: green;
}
.features .feature-art .feature-art-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}

.features .feature-art .feature-art-image figure,
.features .feature-art .feature-art-image img {
    margin-top: 0;
    height: 100%;
}

.how-does-matcha-work {
    padding: 5%;
    text-align: center;
}

.how-does-matcha-work > .title {
    font-family: "Alegreya", serif;
    color: #025157;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 10px;
}

.how-does-matcha-work > .description {
    color: #46484c;
    font-size: 16px;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.how-does-matcha-work > .description > a {
    color: #67b54b;
    text-decoration: none;
}

.how-does-matcha-work .hdmw-grid {
    font-size: 16px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.how-does-matcha-work .hdmw-grid .hdmw-card {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    text-align: left;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
} 

.how-does-matcha-work .hdmw-grid .hdmw-card .hdmw-card-images {
    position: relative;
    height: 350px;
}
.how-does-matcha-work .hdmw-grid .hdmw-card .hdmw-card-images .hdmw-image {
    width: 100%;
    height: 100%;

}

.how-does-matcha-work .hdmw-grid .hdmw-card .hdmw-card-images .hdmw-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
}

.how-does-matcha-work .hdmw-grid .hdmw-card .hdmw-card-content {
    padding: 20px;
}

.hdmw-card-content > h3 {
    font-family: "Alegreya";
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    color: #025157;
    text-align: center;
}

.hdmw-card-content > p{
    color: #464746;
    margin-bottom: 15px;
}

.hdmw-card-content > a {
    font-weight: 600;
    text-decoration: none;
    color: #67b54b;
}
